.MarkTreeDevider {
  position: relative;
}

.MarkTreeDevider::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  top: 50%;
  background-color: black;
}

.ant-tree-title {
  font-size: 1.2em;
}